@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import 'intl-tel-input/build/css/intlTelInput.css';

html {
  font-family: "Poppins", sans-serif;
}

.iti {
  width: 100%;
}

.iti__flag-container {
  z-index: 1000;
}

.input-style {
  @apply w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-400 transition;
}

@layer utilities {
  @keyframes blurFadeIn {
    0% {
      filter: blur(10px);
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      filter: blur(0px);
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-blur-fade {
    animation: blurFadeIn 1s ease-out forwards;
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.6s ease-out forwards;
  }
}

/* ✅ Custom animation utility for slower spinning */
/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slower {
  animation: spin 25s linear infinite;
} */